Design Pattern/OtherPeople Code/DAY1/.vs
Design Pattern/OtherPeople Code/DAY1/DAY1/x64/Release
Design Pattern/OtherPeople Code/DAY1/DAY1/x64/Debug
Design Pattern/OtherPeople Code/DAY1/x64
Design Pattern/OtherPeople Code/DAY2/DAY2/DAY2/x64
Design Pattern/OtherPeople Code/DAY2/DAY2/x64
Design Pattern/OtherPeople Code/DAY2/DAY2/.vs
Design Pattern/OtherPeople Code/DAY3/.vs
Design Pattern/OtherPeople Code/DAY3/Debug
Design Pattern/OtherPeople Code/DAY4/.vs
Design Pattern/OtherPeople Code/DAY5/.vs
Design Pattern/OtherPeople Code/Server/Server/.vs
Design Pattern/OtherPeople Code/Server/Server/Server/Debug
Design Pattern/OtherPeople Code/Server/Server/Debug
Design Pattern/DAY1/.vs
Design Pattern/DAY1/DAY1
Design Pattern/DAY1/x64
Design Pattern/Teacher Code/DAY1/.vs
Design Pattern/DAY2/.vs
Design Pattern/DAY2/DAY2/x64
Design Pattern/DAY2/x64
